body {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
}

.App {
    text-align: center;
    min-height: 100vh;
    width: 100vw;
    min-width: 98vw;
    margin: -10px 0 -10px;

}

.inherit-color-scheme {
    color: inherit;
    background-color: inherit;
    border-color: inherit;
}

.Header {
    text-align: center;
    margin: 10px;
    padding: 10px;
    min-height: 60px;
}

.TitleBox {
    padding: 1rem;
}

.Body {
    margin-bottom: 4.5rem;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center
}

.Footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    margin: 0 0 -1rem;
    padding: 0;
    z-index: 1;
    min-height: 5rem;
}

.Larger-Icon {
    height: 2rem;
    width: 2rem;
}

.Entry-View {
    border: 3px solid;
}

.Only-Icon-Button {
    background-color: inherit;
    border: none;
}

.Only-Icon-Button:hover .Larger-Icon {
    animation: pulsate 1s infinite alternate;
}

@keyframes pulsate {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.25);
    }
}

.SubtaskView {
    display: block;
    border: solid 2px;
    border-radius: 5px;
    width: 100%;
    padding: 3%;
    margin: 1%
}

.SubtaskListView {
    display: block;
    height: 250px;
    overflow-y: scroll;
    padding-right: 3%;
    overflow-x: clip
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51vh;
}

.spinner {
    border: 1.5rem solid;
    border-radius: 50%;
    width: 16vh;
    height: 16.4vh;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.Div-Covering-The-Whole-Screen-Semitransparent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.Div-Covering-The-Whole-Screen-Semitransparent > div {
    background-color: #3c464f;
    color: silver;
    padding: 20px;
    min-width: 300px;
    max-width: 600px;
    overflow: auto;
    word-break: break-all;
    border: 3px black solid;
}

.Div-Covering-The-Whole-Screen-Semitransparent div div {
    display: inline-flex;
    width: 350px;
}

.Div-Covering-The-Whole-Screen-Semitransparent div div button {
    color: silver;
}

.Div-Covering-The-Whole-Screen-Semitransparent div form {
    width: 100%
}

.Div-Covering-The-Whole-Screen-Semitransparent div form div {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.Div-Covering-The-Whole-Screen-Semitransparent div form div input {
    width: max-content;
    background-color: #2b3238;
    color: silver;
}