.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51vh;
}

.spinner {
    border: 1.5rem solid ;
    border-radius: 50%;
    width: 16vh;
    height: 16.4vh;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}